[submodule "3rdparty/cppformat"]
	path = 3rdparty/cppformat
	url = https://github.com/cppformat/cppformat.git
[submodule "3rdparty/libuv"]
	path = 3rdparty/libuv
	url = https://github.com/libuv/libuv.git
